# Ignore environment variables file
.env
Number_exported_data.csv
Text_exported_data.csv

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore log files
logs/
*.log

# Ignore system files (macOS & Windows)
.DS_Store
Thumbs.db