# Ignore environment variables file
.env
merged_exported_data.csv
SentiMEME-MLysis-Dashboard_FINAL.twbx
logfile.log

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore log files
logs/
*.log

# Ignore system files (macOS & Windows)
.DS_Store
Thumbs.db